<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bg -->
      <package
            uri="http://www.example.org/bg"
            class="no.ntnu.tdt4250.group07.bg.BgPackage"/>
   </extension>

</plugin>
