<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecom -->
      <package
            uri="http://www.ntnu.no/tdt4250/ecom"
            class="no.ntnu.tdt4250.ecom.EcomPackage"
            genModel="model/ecom.genmodel"/>
   </extension>

</plugin>
